<h1>Ships</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position (m)</th>
    <th>Velocity (m/s)</th>
    <th>Orientation (degrees)</th>
    <th>Thrust (m/s/s)</th>
  </tr>
  <% @satellites.each do |satellite| %>
    <tr>
      <td><%= satellite.name %></td>
      <td><%= pretty_position satellite %></td>
      <td><%= pretty_velocity satellite %></td>
      <td><%= satellite.orientation %></td>
      <td><%= satellite.thrust %></td>
    </tr>
  <% end %>
</table>

<br />
<br />
<br />
TODO: Graphical version could be something like:
<pre>
  # Adjust zoom aspect ratio to fit window
  ZOOM_X = 500_000_000 meters
  ZOOM_Y = 280_000_000 meters

  satellites.each |s| do

    div class='sat' style="left: screen_position_x(s) bottom: screen_position_y(s)"
      div class='name'
      div class='icon'
    /div

  end

  def screen_position_x(sat)
    sat.position_x / ZOOM_X
  end

  def screen_position_y(sat)
    sat.position_y / ZOOM_Y
  end

</pre>

