<script>
    function autoRefresh() {
        window.location = window.location.href;
    }
    setInterval('autoRefresh()', 60000);
</script>

<div class="map">
  <ul class="satellites">
    <% @satellites.each do |satellite| -%>
      <li style="left: <%= screen_position(satellite.position_x, 500_000_000) %>%; bottom: 70%;">
        <%= satellite.name %>
      </li>
    <% end -%>
  </ul>
</div>

<div class="hide">
<h1>Ships</h1>

<%= Time.zone.now %>

<table>
  <tr>
    <th>Name</th>
    <th>on course?</th>
    <th>Position (m)</th>
    <th colspan=2>Velocity (m/s)</th>
    <th>Orientation (degrees)</th>
    <th>Thrust (m/s/s)</th>
  </tr>
  <% @satellites.each do |satellite| %>
    <tr>
      <td><%= satellite.name %></td>
      <td><%= satellite.on_course? %></td>
      <td><%= position_deets satellite %></td>
      <td><%= pretty_velocity satellite %></td>
      <td><%= velocity_deets satellite %></td>
      <td><%= satellite.orientation %></td>
      <td><%= satellite.thrust %></td>
    </tr>
  <% end %>
</table>

<br />
<br />
<br />
TODO: Graphical version could be something like:
<pre>
  # Adjust zoom aspect ratio to fit window
  # Maybe adjustable from UI
  ZOOM_X = 500_000_000 meters
  ZOOM_Y = 280_000_000 meters

  @satellites.each |s| do

    div class='sat' style="left: screen_position_x(s) bottom: screen_position_y(s)"
      div class='name'
      div class='icon'
    /div

  end

  # returns position in percentage.  Perhaps use percentage in css or convert to pixels in css
  # Items off the screen just go off screen for now.
  def screen_position_x(sat)
    sat.position_x / ZOOM_X * 100
  end

  def screen_position_y(sat)
    sat.position_y / ZOOM_Y * 100
  end

</pre>
</div>
